<div style="min-height: 38rem" class="my-16 bg-white container d-flex align-items-center justify-content-center">
  <div class="w-75">
    <div class="px-4 ">
      <h1 class="text-3xl font-bold">Add New Brand</h1>
      <div class="mt-4">
        <form action="/admin/brands/add" method="POST" class="row g-3">
          <div class="col-12">
            <label for="BrandName" class="form-label">Brand Name</label>
            <input
              type="text"
              id="BrandName"
              name="brandName"
              class="form-control"
            />
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-dark w-100">Add Brand</button>
          </div>
        </form>

        <div class="my-3">
          <% if (typeof message !== 'undefined' && message.length > 0) { %>
          <div
            class="alert <%= success && success.length > 0 ? 'alert-success' : 'alert-danger' %>"
          >
            <%= message %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
