.card-watch {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.card-watch:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

@media screen and (max-width: 768px) {
  .banner-login {
    display: none !important;
  }
}

.or-hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.or-hr::after {
  background: #fff;
  content: "OR";
  position: relative;
  top: -13px;
}
